
<h2><%= link_to portofolio_item.title, portofolio_show_path(portofolio_item.id) %></h2>
<h4><%= portofolio_item.subtitle %></h4>
<p><%= portofolio_item.body %></p>
<%= image_tag portofolio_item.thumb_image if !portofolio_item.thumb_image.nil? %>
<%= link_to "Edit", edit_portofolio_path(portofolio_item) if logged_in?(:site_admin) %>
<%= link_to "Delete", portofolio_show_path(portofolio_item), method: :delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin) %>